@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 0;
  padding: 2rem;
  /* font-weight: normal; */
}

a,
.blue {
  text-decoration: none;
  color: hsla(217, 90%, 61%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(231, 100%, 37%, 0.2);
  }
}
/* 
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

.accordion-button {
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.2;
}

.accordion-body {
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
}

.accordion-item {
  margin-bottom: 0.25rem;
  border-radius: 4px;
}

.accordion-button:not(.collapsed) {
  background-color: #f8f9fa;
}

.btn {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}