@import './base.css';

.accordion-button {
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.2;
}

.accordion-body {
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
}

.accordion-item {
  margin-bottom: 0.25rem;
  border-radius: 4px;
}

.accordion-button:not(.collapsed) {
  background-color: #f8f9fa;
}

.btn {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.btn-primary {
  color: #fff;           
  background-color: hsla(213, 40%, 58%, 1);
  border-color: hsla(213, 40%, 58%, 1);
}

.btn-primary:hover {
  color: #fff;      
}

a,
.blue {
  text-decoration: none;
  color: hsla(213, 40%, 58%, 1);
  transition: 0.4s;
  font-weight: 500;
  font-variant: all-small-caps;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(105, 144, 191, 0.322);
  }
}